**/node_modules
**/npm-debug.log
ui/dist
.gradle
.project
bin
build
client/python/conductor.egg-info
*.pyc
.classpath
docs/site
site
ui/.settings
.settings
dump.rdb
.idea
**/*.iml
common/target/
core/target/
dependencies.txt
jersey/target/
out.txt
redis-persistence/target/
